body {
  background-image: url("images/background.png");
  background-size: 393px 852px; /* 배경 이미지 크기 고정 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  background-position: center; /* 이미지 중앙 정렬 */
  margin: 0;
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contents {
  width: 393px;
  height: 852px;
  overflow: hidden;
}

/**휴대폰 size 고정**/

.fish_num {
  position: relative;
  top: 100px;
  font-size: 22px;
  font-weight: 500;
  color: white;
}

.fish_num p {
  margin: 10px;
}

.bell {
  position: relative;
  top: 35px;
  left: 325px;
}

.shape {
  position: relative;
  top: 80px;
}

.year_fish {
  margin: 0;
  font-size: 19px;
  position: relative;
  bottom: 475px;
  left: 120px;
  width: 250px;
  height: 33px;
  border-radius: 10px;
  background-color: #f2e1bf;
}
