<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Spring App</title>
  <link rel="stylesheet" href="/css/alert.css" />
</head>
<body>
<div class="flex">
  <div class="contents">
    <header>
      <div class="back-btn">
        <!-- 동적 링크 처리 -->
        <a th:href="@{/main_user}"><img src="/images/back.png" /></a>
      </div>
      <!-- nickname을 동적으로 삽입 -->
      <div class="title"><p th:text="${nickname}">님의</p></div>
      <div class="title"><p>붕어빵 알림창</p></div>
    </header>
    <main>
      <div class="btn_form">
        <!-- writerName을 동적으로 출력 -->
        <input
                class="year_btn"
                type="button"
                th:value="${writerName} + ' 붕어가 다 익었습니다.'"
                th:onclick="'location.href=' + @{/main_user}"
        />
        <input
                class="year_btn"
                type="button"
                value="새로운 편지가 생겼습니다."
                onclick='location.href="main_user.html"'
        />
      </div>
    </main>
  </div>
</div>
</body>
</html>
