<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Spring App</title>
    <link rel="stylesheet" href="read.css" />
  </head>
  <body>
    <div class="flex">
      <div class="contents">
        <header>
          <div class="back-btn">
            <a href="main_user.html"><img src="../../../../../../데베설front파일/images/back.png" /></a>
          </div>
        </header>
        <main></main>
        <footer>
          <input
            type="button"
            class="submit-button"
            value="닫기"
            onclick='location.href="main_user.html"'
          />
        </footer>
      </div>
    </div>
  </body>
</html>
