body {
  background-image: url("/images/letter.png");
  background-size: 393px 852px; /* 배경 이미지 크기 고정 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  background-position: center; /* 이미지 중앙 정렬 */
  margin: 0;
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contents {
  width: 393px;
  height: 852px;
  overflow: hidden;
}

/*---------------*/

.submit-button {
  position: relative;
  left: 135px;
  top: 540px;
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 500;
  color: black;
  background-color: #f2e1bf;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}


#writerName{
  left:160px;
  position: relative;
  top: 77px;
  align-items: center;
}

.letter-content {
  display: flex;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center;     /* 세로 방향 중앙 정렬 */
}

.letter-content textarea {
  width: 50%;
  height: 150px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 14px;
  margin-top:100px;
  resize: none;
}
.back-btn{
  position: relative;
  left: 20px;
  top: 50px;
}